@model MiseEnSituation.Models.CLASS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLASS NAME</h4>
    <hr />
    <dl class="dl-horizontal">

        @*Not in a relationship*@s
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*ClassOneToOneRequired*@
        <dt>
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        @*ManyToOneRequired*@
        <dt>
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        @*ManyToMany*@
        <dt>
            @Html.DisplayNameFor(model => model.Owners)
        </dt>
        <dd>
            @Html.DropDownListFor(model => model.Owners, new SelectList(Model.Owners.Select(o => o.Name), null, Model.Owners.Select(o => o.Name)), htmlAttributes: new { @class = "form-control" });
        </dd>

        @*OneRequiredToMany*@
        <dt>
            @Html.DisplayNameFor(model => model.Owners)
        </dt>
        <dd>
            @Html.DropDownListFor(model => model.Owners, new SelectList(Model.Owners.Select(o => o.Name), null, Model.Owners.Select(o => o.Name)), htmlAttributes: new { @class = "form-control" });
        </dd>
        @* OneToManyNotProp*@
        <dt>
            @Html.DisplayNameFor(model => model.OneToManyNotProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneToManyNotProp.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

